*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}

/* Header */
header{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),url(./images/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

header .logo a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 35px;
}

header input{
    border-style: none; 
    border-radius: 5px;
}

header .search, header .moon, header .menu{
    border-style: none; 
    background: none;

    
}
header .moon, header .menu{
    font-size: 30px;
    margin: 0 15px;
    color: white;
}
header .list__items{
position: relative;
left: 0;
top: 0;
}
header .list__items .search{
    position: relative;
    right: 30px;
    bottom: 5px;

}
header input{
    width: 230px;
    outline: none;
}
.banner button{
    border: 3px solid white;
    background:none;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;

}
.banner button:hover{
    border: 3px solid white;
    background-color: white;
    color: #ff6600;
    border-radius: 5px;
}



